#firstadminitem{

}
#secondadminitem{

}
#thirdadminitem{

}

#fourthadminitem{

}

.makeorange{
	color: #DA670F;
}

.makegreen{
	color: green;
}

.makered{
	color: red;
}


.beautify{
font-size: x-large;
color: white;	
}

.wrapper{
	border-bottom: 1px solid white; 
	width: 100%; 
	overflow: hidden;
		}

.left{
	background-color: #202C45;
	 float: left; 
	 width: 85%; 
	 height: 50px;
	}


.right{background-color: #DA670F ; 
	height: 50px; 
	width: 15%; 
	float: left;
	}


ul li{
	display: inline-block;
 	list-style-type: none; 
 	margin-left: 10px; 
 	text-align: left;	
 	}

 	ul >li >a{
 		display: table;
 		vertical-align: middle;
 	}

a{
	color: white; 
	text-decoration: none;
	}

a:hover{
	color: #202C45;
 background-color: white;
  border-radius: 15px;
   padding: 5px;
	}

	.mycontainer{
	margin-top: 5em;
	margin-left: 10em;
}

.spacing{
	margin-top: 2em;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}



@media screen and (max-width: 500px) {
  .wrapper > ul >li >a{
    float: none;
    display: block;
    text-align: left;
   
  }
  .right {
    float: none;
    margin-top: -1em;
    width: 85%;
  }
  .left{
  	float: none;
  	height: 7em;

  }
  ul li{
  	 display: flex;
  	flex-direction: column;
  }

div.mycontainer{
	margin-left: 1em;
}  

}

